%h2 New Game

=error_messages_for :game, :header_message => false, :message => false

%h3 Make your move!
- form_for @game do |f|
  %div
    =f.label :players_hand_rock, 'Rock'
    =f.radio_button :players_hand, 'rock'
  %div
    =f.label :players_hand_paper, 'Paper'
    =f.radio_button :players_hand, 'paper'
  %div
    =f.label :players_hand_scissors, 'Scissors'
    =f.radio_button :players_hand, 'scissors'
    
  %div
    =f.submit 'Fight!'
  
