%h2 Game result

.result
  .hands.clearfix
    .players_hand
      %h3 Your Hand
      =@game.players_hand
    .computers_move
      %h3 Computers Hand
      =@game.computers_hand

  .winner
    =@game.winner