%h2 Game result

.result
  .hands.clearfix
    .players_hand
      %h3 Your Hand
      %span= @game.players_hand.titlecase
    .computers_hand
      %h3 Computers Hand
      %span= @game.computers_hand.titlecase

  .winner
    -game_winner(@game)
    =button_to 'Play Again', root_path
