!!!
%html{html_attrs('en-GB')}
  %head
    %title Rob's Rock, Paper, Scissors Game
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    = stylesheet_link_tag 'application.css', :media => 'screen'
    = javascript_include_tag 'application'
  
  %body
    #container
      #header
        %h1 Rob's Rock, Paper, Scissors Game
          
      #content
        = yield